
body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;

}

body {
    font-size: 12px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: helvetica;
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #d51875;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
    background-image: -moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    background-image: -o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
}

#header a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/*#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: #222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
    background-image: -o-linear-gradient(top, #999, #666 2%, #222);
    padding: 0;
    border-top: 1px solid #444;
}

#wrapper {
    !* position:absolute;  *!
    z-index: 1;
    top: 45px;
    !* bottom:48px;  *!
    left: -9999px;
    width: 100%;
    background: #aaa;
    overflow: auto;
}*/

/*#scroller {
    position: absolute;
    top: 1px !important;
    z-index: 1;
    !*	-webkit-touch-callout:none;*!
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}*/

/*#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#scroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}*/

.data-list li {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #FFFFFF;
    font-size: 14px;
}

/*#myFrame {
    position: absolute;
    top: 0;
    left: 0;
}*/

/**
 *
 * Pull down styles
 *
 */
/*#pullDown, #pullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}*/

/*
#pullDown .pullDownIcon, #pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    !* background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;	 *!
}
*/

/*#pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}*/

/*@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}*/

#guss {
    background-color: #FFFFFF;
    border-bottom: solid 1px #e4e4e4
}

/*并集，同时包含这两个样式才行*/
.mescroll.active {
    overflow: scroll;
    height: 16rem !important;
    border-bottom: solid 2px #e4e4e4;
}

.mescroll.hidden {
    display: none;

}

/*选择后代元素*/
#guss span {
    height: 1rem;
    text-align: center;
    display: block;
    font-family: "微软雅黑 Light";
    font-size: 0.6rem;
    font-weight: 100;
    vertical-align: middle;

}

.nav a {
    display: inline-block;
    width: 30%;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 0.6rem;

}

/*未作任何操作时候*/
.nav a:link {
    border-bottom: 1px solid #FF6990;
    color: #FF6990;
}

/*已经访问过的链接*/
.nav a:visited {

}

/*鼠标移到上面*/
.nav a:hover {
    border-bottom: 1px solid #FF6990;
    color: red;
    text-decoration: none;

}

/*!*访问中的*!*/
.nav a:active {
    border-bottom: 1px solid #FF6990;
    color: #FF6990;
    text-decoration: none;
}

.tab.hidden {
    display: none;
}

.tab.active {
    display: block;
}

.upmesssage {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

select {
    font-size: 1.4em;
    width: 5rem;
    height: 1.7em;
    border-radius: 10px;
    border: 1px solid #c8cccf !important;
    color: #986655;
    outline: 0;
    text-align: center;
}

#tab1 .keyword {
    text-align:center;
    margin: 1rem

}
.keyword.active {
    text-align:center;
    margin: 1rem;
}
.keyword.hidden {
    text-align:center;
    display: none;

}

.upmesssage input {
    font-size: 1.0em;
    width: 3rem;
    height: 1.7em;
    border-radius: 10px;
    border: 1px solid #c8cccf !important;
    color: #986655;
    outline: 0;
    text-align: center;
}

.tab textarea {
    font-size: 1.4em;
    height: 11em;
    border-radius: 10px;
    border: 1px solid #c8cccf !important;
    color: #986655;
    outline: 0;
    width: 98%;
}

.upmesssage span {
    font-size: 1.0em;
}

/*搜索结果*/
/*选择后代样式*/
.data-list .pd-name {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.data-list .pd-price {
    margin-top: 8px;
    color: red;
}

.data-list .pd-sold {
    font-size: 12px;
    margin-top: 8px;
    color: gray;
}

/*回到顶部按钮*/
.mescroll-totop {
    font-size: 12px;
    line-height: 10px;
    background-color: white;
    border: 1px solid gray;
    text-align: center;
}

.mescroll-totop p {
    padding-top: 6px;
    color: #666;
}

/*下拉刷新回调的提示*/
.download-tip{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    text-align: center;
    background-color: rgba(255,130,1,.7);
    color: white;
}

#bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}
#zhuche {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 55%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}
#sharefriend {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 55%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}

#downapp {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 55%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}
#denglu {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 55%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}

.friend{
    display: block;
}
#getpassword {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 55%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}




#showadvice {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 55%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}








